<p id="notice"><%= notice %></p>

<h1>Books List</h1>

<h5><button type="button" class="create"><%= link_to 'Book Creation', new_book_path %></button></h5>


<table>
  <thead>
    <tr class="center-text">
      <th >Title</th>
      <th >Author</th>
      <th >Photo</th>
      <th >Action</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr class="center-text border-bottom">
        <td class="border-right"><%= book.title %></td>
        <td class="border-right"><%= book.author %></td>
        <td class="border-right"><%= image_tag book.photo_url, width: '85%' if book.photo.present? %></td>
        <!--<td><button type="button" class="details"><%= link_to 'Details', book %></button></td>-->
        <td><button type="button" class="update"><%= link_to 'Update', edit_book_path(book) %></button></td>
        <td><button type="button" class="delete"><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


