
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@book.photo_url, width: 400) if @book.photo.present? %>
  <h3>Reviews</h3>
  <% @comments.each do |comment| %>
    <div>
      <%= comment.title %>
      <br>
      <%= comment.rate %>
      <br>
      <%= comment.description %>
      <br>
      <p><%= comment.book_id %></p>
      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
    </p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
